@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
	padding: 10px 15px;
	border: 2px solid #847d60;
	border-radius: 5px;
	font-family: 'Raleway';
	font-size: 1.2em;
	font-weight: 700;
	color: #847d60;
	cursor: pointer;
	margin-top: 10px;
}

.btn:hover {
	color: white;
	background-color: #847d60;
}
Link {
	cursor: pointer;
}
